<div class="container-fluid banner position-relative">
      <div class="container">
        <div style="padding: 50px 0">
          <div class="welcome-text animation-left-to-right animation-time-1">
            welcome to
          </div>
          <div class="brand-alias-text animation-left-to-right">
            World of Phones
          </div>
          <div
            class="second-brand-alias-text animation-left-to-right animation-time-2"
          >
            Discover the beautiful palace
          </div>
          <div
            class="brand-description-text animation-left-to-right animation-time-3"
          >
            Explore Our Wide Range of Cutting-Edge Tech Devices and Find Your
            Perfect Match
          </div>
          <div class="get-started animation-left-to-right animation-time-4">
            <a asp-controller="Store" asp-action="Index"
              class="web-btn web-btn-primary fw-medium"
              style="border-radius: 0; text-shadow: none"
            >
              Get Started Now
            </a>
          </div>
        </div>
      </div>
    </div>