<div class="container mt-5">
      <!-- <div class="criteria-header">Our Criterias</div> -->
      <div class="row gx-4 gy-4 gy-md-0 position-relative">
        <div class="col-6 col-md-3">
          <div
            class="criteria animation-bottom-to-top"
            style="
              background-image: url(/imgs/backgrounds/2.png);
              background-size: cover;
            "
          >
            <img class="criteria-icon" src="/imgs/icons/fast.png" alt="" />
            <div class="criteria-title">Fast and Reliable Shipping</div>
            <div class="criteria-description">
              Ensures quick and reliable delivery of orders to customers'
              doorsteps.
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div
            class="criteria animation-bottom-to-top"
            style="
              animation-duration: 1.4s;
              background-image: url(/imgs/backgrounds/3.png);
              background-size: cover;
            "
          >
            <img class="criteria-icon" src="/imgs/icons/variety.png" alt="" />
            <div class="criteria-title">Product Variety</div>
            <div class="criteria-description">
              Offers a diverse range of phones, laptops, and accessories to
              customer.
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div
            class="criteria animation-bottom-to-top"
            style="
              animation-duration: 1.6s;
              background-image: url(/imgs/backgrounds/4.png);
              background-size: cover;
            "
          >
            <img
              class="criteria-icon"
              src="/imgs/icons/competitive.png"
              alt=""
            />
            <div class="criteria-title">Competitive Pricing</div>
            <div class="criteria-description">
              Offers attractive prices and discounts to stay competitive in the
              market.
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div
            class="criteria animation-bottom-to-top"
            style="
              animation-duration: 1.8s;
              background-image: url(/imgs/backgrounds/5.png);
              background-size: cover;
            "
          >
            <img
              class="criteria-icon"
              src="/imgs/icons/data-security.png"
              alt=""
            />
            <div class="criteria-title">Security and Privacy</div>
            <div class="criteria-description">
              Ensures customer information and transactions are securely
              protected.
            </div>
          </div>
        </div>
      </div>
    </div>