@model LoginViewModel
@{
    Layout = "_StoreLayout";
    ViewData["Title"] = "Forgot password";
}

<div class="my-5 d-flex justify-content-center align-items-center">
    <div class="border bg-white p-5  animation-left-to-right1" style="width: 450px;
            background-image: url(/imgs/backgrounds/1.png);
            background-size: contain;">
        <div class="d-flex justify-content-center align-items-center">
            <img src="/imgs/DotK.png" style="height: 35px;" alt="">
            <div class="text-center fw-bold web-text-primary" style="font-size:49px; line-height:1; margin-top: -6px;">
                -RESET
            </div>
        </div>

        <div class="text-center mt-1 web-text-primary fw-bold" style="font-size: 13px;">
            Use your email to set a new password
        </div>

        <form class="mt-4" method="post" style="font-family: Roboto;">
            <div class="form-group">
                <label class="control-label">Email</label>
                <input name="email" class="form-control" />
            </div>
            @if(ViewData["Error"] != null)
            {
                <div class="text-danger mt-2">@ViewData["Error"]</div>
            }
            <div class="text-center mt-5">
                <button type="submit" asp-action="ForgotPassword" class="web-btn web-btn-primary btn-block fw-bold"
                        style="width: 200px;">
                    RESET PASSWORD
                </button>
            </div>
            <div class="mt-4 text-center" style="font-size: 13px;">
                Back to <a asp-action="Login">login</a>
            </div>
        </form>
    </div>
</div>