@model ResetPasswordViewModel
@{
    Layout = "_StoreLayout";
    ViewData["Title"] = "Login";
}

<div class="my-5 d-flex justify-content-center align-items-center">
    <div class="border bg-white p-5  animation-left-to-right1" style="width: 450px;
            background-image: url(/imgs/backgrounds/1.png);
            background-size: contain;">
        <div class="d-flex justify-content-center align-items-center">
            <img src="/imgs/DotK.png" style="height: 35px;" alt="">
            <div class="text-center fw-bold web-text-primary" style="font-size:49px; line-height:1; margin-top: -6px;">
                -RESETPASS
            </div>
        </div>

        <div class="text-center mt-1 web-text-primary fw-bold" style="font-size: 13px;">
            You need verify for this action
        </div>

        <form class="mt-4" method="post" style="font-family: Roboto;">
            <input class="d-none" name="Code" value="@Model.Code" />
            <input class="d-none" name="Email" value="@Model.Email" />
            <div class="form-group mb-4">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-center ">
                <button type="submit" asp-action="ResetPassword" class="web-btn web-btn-primary btn-block fw-bold"
                        style="width: 200px;">
                    CONFIRM
                </button>
            </div>
        </form>
    </div>
</div>
