@{
    Layout = "_StoreLayout";
}
<div class="notification-container bg-body-secondary">
    <div class="">
        <h2>Reset password successfully</h2>
        <div>You can login back <a asp-controller="Product" asp-action="Index">here</a></div>
    </div>
</div>