
@model int
@{
    Layout = "_StoreLayout";
}



<div class="notification-container bg-body-secondary">
    <div class="">
        <h2>Order Placed Successfully</h2>
        <h3>Your Order ID is: @Model</h3>
        <p>You can track your order <a href="#">here</a>.</p>
    </div>
</div>
